<!DOCTYPE html>
<html>
<head>
<title>Nearest Earth Objects</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="{{ url_for('static', filename='form1.css') }}" rel="stylesheet" type="text/css" media="all" />

<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

</head>
<body>
	<div class="main-w3layouts wrapper">
		<h1> Nearest Earth Objects </h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="{{ url_for('result')}}" method="post">
					<input class="text" type="text" name="est_diameter_min" placeholder="est_diameter_min" ><br>
					<input class="text" type="text" name="est_diameter_max" placeholder="est_diameter_max" ><br>
					<input class="text" type="text" name="relative_velocity" placeholder="relative_velocity" ><br>
					<input class="text" type="text" name="miss_distance" placeholder="miss_distance" ><br>
					<input class="text" type="text" name="absolute_magnitude" placeholder="absolute_magnitude" >   <br>                 

					<input type="submit" value="Predict">
				</form>
			</div>
		</div>
	</div>
</body>
</html>